<div class='d-flex p-5 vh-100'>
  <div class='inner'>
    <h1 class='mb-5'> Shipyard API </h1>
    <h4 class='title'> Register / Login for an Access Token </h4>
    <a href='/login' class='btn btn-secondary mt-5'> Go to Auth0 </a>
  </div>
</div>