<div class='alert-info text-center p-5'>
    <h1 class='mb-5'> User Info </h1>
    <h4>Email: {{email}}</h4>
    <h4>User ID: {{user_id}}</h4>
    <h3 class='mt-5'>JWT:</h3>
    <div class='token text-start text-break'>{{jwt}}</div>
    <a href={{link}} class='btn btn-secondary mt-5'> Logout </a>
</div>