#side-bar {
  width: 250px;
  height: 100%;
  transition: 1s ease;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.5rem;
  overflow-x: hidden;
}

#main-content {
  height: 100%;
  transition: margin-left 1s ease;
  padding: 16px;
  margin-left: 250px;
}

#main-content.expand {
  margin-left: 0px;
}

#side-bar.hidden {
  opacity: 0;
  width: 0;
  padding: 0;
  overflow: hidden;
}

#home:hover,
#home:focus,
#home:active {
  background-color: #212529;
  box-shadow: none;
}

#home:hover #open-icon {
  color: #a93632;
}

#open-icon.closed {
  transform: rotate(180deg);
  color: #a93632;
}

.side-bar-btn {
  border: none;
  background-color: transparent;
  color: #212529;
  font-size: 1.1rem;
}

.side-bar-btn:hover,
.side-bar-btn:focus,
.side-bar-btn:active {
  border: none;
  background-color: transparent;
  color: #212529;
  box-shadow: none;
}

.side-bar-btn:hover .right-caret {
  color: #a93632;
}

.side-bar-btn[aria-expanded='true'] .right-caret,
.endpoint-btn[aria-expanded='true'] .right-caret {
  transform: rotate(90deg);
  color: #a93632;
}

#open-icon,
.right-caret,
code.endpoint {
  color: #32a4a7;
}

#sidebarTitle,
.github-link {
  text-decoration: none;
  color: #32a4a7;
  font-size: 1.5rem;
}

#sidebarTitle:hover {
  color: #a93632;
}

.github-icon {
  font-size: 1.5rem;
}

.github-link {
  text-decoration: none;
  color: #32a4a7;
  font-size: 1.2rem;
}

.api-url {
  text-decoration: none;
  color: #32a4a7;
}

.api-url:hover,
.github-link:hover {
  text-decoration: none;
  color: #a93632;
}

.list-links a {
  display: inline-flex;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

.list-links a:hover,
.list-links a:focus {
  background-color: #e9ecef;
}

.endpoint-btn {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  color: #212529;
}

.endpoint-btn:hover,
.endpoint-btn:focus,
.endpoint-btn:active {
  border: none;
  background-color: transparent;
  color: #212529;
  box-shadow: none;
}

.endpoint-btn:hover .right-caret {
  color: #a93632;
}

td {
  padding: 0.2rem 0.5rem;
  border: 1px solid black;
  white-space: pre-line;
}

tr:first-child {
  font-weight: bold;
}

pre {
  background-color: #e9ecef;
  padding: 1rem;
}

.nav-tabs .nav-link {
  color: #212529;
}

.nav-tabs .nav-link.active {
  color: #32a4a7;
}

#data-request-json {
  font-family: monospace;
  background-color: #e9ecef;
  padding: 1rem;
}

.form-control:focus,
.form-select:focus {
  box-shadow: 0 0 0 0.2rem rgba(50, 164, 167, 0.6);
  border-color: #32a4a7;
}

#data-request-json:focus {
  border-color: #32a4a7;
}
